.h3 {
  margin-top: calc(32em / 20);
  margin-bottom: calc(12em / 20);
  color: #111827;
  font-weight: 600;
  font-size: calc(20em / 16);
  line-height: calc(32 / 20);
}

@media screen(sm) {
  .h3 {
    margin-top: calc(28em / 18);
    margin-bottom: calc(8em / 18);
    font-size: calc(18em / 14);
    line-height: calc(28 / 18);
  }
}

@media screen(md) {
  .h3 {
    margin-top: calc(32em / 20);
    margin-bottom: calc(12em / 20);
    font-size: calc(20em / 16);
    line-height: calc(32 / 20);
  }
}

@media screen(lg) {
  .h3 {
    margin-top: calc(40em / 24);
    margin-bottom: calc(16em / 24);
    font-size: calc(24em / 18);
    line-height: calc(36 / 24);
  }
}

.h3 + * {
  margin-top: 0;
}
