.h3 {
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.6;
}

@screen sm {
  .h3 {
    margin-top: 1.5555556em;
    margin-bottom: 0.4444444em;
    font-size: 1.2857143em;
    line-height: 1.5555556;
  }
}

@screen md {
  .h3 {
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    color: #111827;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.6;
  }
}

@screen lg {
  .h3 {
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    font-size: 1.3333333em;
    line-height: 1.5;
  }
}

@screen xl {
  .h3 {
    margin-top: 1.6em;
    margin-bottom: 0.6666667em;
    font-size: 1.5em;
    line-height: 1.3333333;
  }
}

@screen 2xl {
  .h3 {
    margin-top: 1.5555556em;
    margin-bottom: 0.6666667em;
    font-size: 1.5em;
    line-height: 1.2222222;
  }
}

.h3 + * {
  margin-top: 0;
}
