ul > .li {
  position: relative;
  padding-left: calc(28em / 16);
}

ul > .li::before {
  position: absolute;
  top: calc(calc(28em / 2 / 16 - 3em / 16));
  left: calc(4em / 16);
  width: calc(6em / 16);
  height: calc(6em / 16);
  background-color: #374151;
  border-radius: 50%;
  content: '';
}

@media screen(sm) {
  ul > .li {
    padding-left: calc(22em / 14);
  }

  ul > .li::before {
    top: calc(24em / 2 / 14 - 2.5em 14);
    left: calc(3em / 14);
    width: calc(5em / 14);
    height: calc(5em / 14);
  }
}

@media screen(md) {
  ul > .li {
    padding-left: calc(28em / 16);
  }

  ul > .li::before {
    top: calc(calc(28em / 2 / 16 - 3em / 16));
    left: calc(4em / 16);
    width: calc(6em / 16);
    height: calc(6em / 16);
  }
}

@media screen(lg) {
  ul > .li {
    padding-left: calc(30em / 18);
  }

  ul > .li::before {
    top: calc(32em / 2 / 18 - 3em / 18);
    left: calc(4em / 18);
    width: calc(6em / 18);
    height: calc(6em / 18);
  }
}
