.h1 {
  margin-top: 0;
  margin-bottom: calc(32em / 36);
  color: #111827;
  font-weight: 800;
  font-size: calc(36em / 16);
  line-height: calc(40 / 36);
}

@media screen(sm) {
  .h1 {
    margin-top: 0;
    margin-bottom: calc(24em / 30);
    font-size: calc(30em / 14);
    line-height: calc(36 / 30);
  }
}

@media screen(md) {
  .h1 {
    margin-top: 0;
    margin-bottom: calc(32em / 36);
    font-size: calc(36em / 16);
    line-height: calc(40 / 36);
  }
}

.h1 + * {
  margin-top: 0;
}
