.type {
  padding-right: var(--caret-width, 2px);

  @apply relative;
}

.type::after {
  top: 10%;
  bottom: 10%;
  width: var(--caret-width, 2px);
  content: '';

  @apply absolute;
}

.type.stopped::after {
  animation: blink-caret 1s step-end infinite;
}

.type.typing::after {
  background-color: black;
}

@keyframes blink-caret {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: black;
  }
}
