.table th,
.table td {
  min-width: 100px;

  @apply px-4 py-3 text-center;
}

.table > tfoot th,
.table > tfoot td {
  border-top: theme('borderWidth.2') solid var(--thick-border-color, black);
}

.table > thead th {
  border-bottom: theme('borderWidth.2') solid var(--thick-border-color, black);
}

.table > tbody td,
.table > tbody th {
  @apply border-b;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th:first-of-type {
  border-right: theme('borderWidth.2') solid var(--thick-border-color, black);

  @apply px-8 font-bold;
}

.table > tbody tr:hover {
  @apply transition duration-500 ease-in-out hover:bg-gray-100;
}

.table > tbody > tr:last-of-type > td,
.table > tbody > tr:last-of-type > th {
  @apply border-b-0;
}
