.h4 {
  margin-top: calc(24em / 16);
  margin-bottom: calc(8em / 16);
  color: #111827;
  font-weight: 600;
  line-height: calc(24 / 16);
}

@media screen(sm) {
  .h4 {
    margin-top: calc(20em / 14);
    margin-bottom: calc(8em / 14);
    line-height: calc(20 / 14);
  }
}

@media screen(md) {
  .h4 {
    margin-top: calc(24em / 16);
    margin-bottom: calc(8em / 16);
    line-height: calc(24 / 16);
  }
}

@media screen(lg) {
  .h4 {
    margin-top: calc(32em / 18);
    margin-bottom: calc(8em / 18);
    line-height: calc(28 / 18);
  }
}

.h4 + * {
  margin-top: 0 !important;
}
