.ul {
  margin: 0;
  margin-top: calc(20em / 16);
  margin-bottom: calc(20em / 16);
  padding: 0;
  list-style: none;
}

@screen sm {
  .ul {
    margin-top: calc(16em / 14);
    margin-bottom: calc(16em / 14);
  }
}

@screen md {
  .ul {
    margin-top: calc(20em / 16);
    margin-bottom: calc(20em / 16);
  }
}

@screen lg {
  .ul {
    margin-top: calc(24em / 18);
    margin-bottom: calc(24em / 18);
  }
}
