.header {
  transition: top 250ms ease-out;
}

.header.show {
  @apply top-0;
}

.header.hide {
  @apply -top-16;
}

@media screen(md) {
  .header.hide {
    @apply top-0;
  }
}

.header::before {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: -0.25rem;
  left: 0;
  content: '';
}

.header.loading::before {
  width: 100%;
  background: linear-gradient(
    to right,
    theme('colors.indigo.50') 40%,
    theme('colors.indigo.900') 50%,
    theme('colors.indigo.50') 60%
  );
  background-size: 300%;
  animation: loading 0.5s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.header.loaded::before {
  background: theme('colors.indigo.900');
  animation: end-loading 0.25s linear 1 forwards;
}

@keyframes end-loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
