.p {
  margin-top: calc(20em / 16);
  margin-bottom: calc(20em / 16);
}

@screen sm {
  .p {
    margin-top: calc(16em / 14);
    margin-bottom: calc(16em / 14);
  }
}

@screen md {
  .p {
    margin-top: calc(20em / 16);
    margin-bottom: calc(20em / 16);
  }
}

@screen lg {
  .p {
    margin-top: calc(24em / 18);
    margin-bottom: calc(24em / 18);
  }
}
