.gradient-text {
  color: var(--stop);
  background: -webkit-linear-gradient(0deg, var(--start), var(--stop));
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
