.h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: #111827;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.3333333;
}

@screen sm {
  .h2 {
    margin-top: 1.6em;
    margin-bottom: 0.8em;
    font-size: 1.4285714em;
    line-height: 1.4;
  }
}

@screen md {
  .h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    color: #111827;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.3333333;
  }
}

@screen lg {
  .h2 {
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    font-size: 1.6666667em;
    line-height: 1.3333333;
  }
}

@screen xl {
  .h2 {
    margin-top: 1.5555556em;
    margin-bottom: 0.8888889em;
    font-size: 1.8em;
    line-height: 1.1111111;
  }
}

@screen 2xl {
  .h2 {
    margin-top: 1.5em;
    margin-bottom: 0.8333333em;
    font-size: 2em;
    line-height: 1.0833333;
  }
}

.h2 + * {
  margin-top: 0;
}
