.h2 {
  margin-top: calc(48em / 24);
  margin-bottom: calc(24em / 24);
  color: #111827;
  font-weight: 700;
  font-size: calc(24em / 16);
  line-height: calc(32 / 24);
}

@screen sm {
  .h2 {
    margin-top: calc(32em / 20);
    margin-bottom: calc(16em / 20);
    font-size: calc(20em / 14);
    line-height: calc(28 / 20);
  }
}

@screen md {
  .h2 {
    margin-top: calc(48em / 24);
    margin-bottom: calc(24em / 24);
    font-size: calc(24em / 16);
    line-height: calc(32 / 24);
  }
}

@screen lg {
  .h2 {
    margin-top: calc(56em / 30);
    margin-bottom: calc(32em / 30);
    font-size: calc(30em / 18);
    line-height: calc(40 / 30);
  }
}

.h2 + * {
  margin-top: 0;
}
