.section-title {
  @apply relative px-2 font-bold;
}

.section-title::after {
  right: -1em;
  bottom: 0.1em;
  width: 1em;
  height: 1em;

  /* LinkIcon from @heroicons/react/outline, colored with theme('colors.indigo.300') */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" fill="none" style="stroke: rgb(165, 180, 252);" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /></svg>');
  background-size: auto 0.6em;
  content: '';
  @apply absolute bg-center bg-no-repeat opacity-0 transition-opacity;
}

.section-title:hover::after,
.section-title.highlighted::after {
  @apply opacity-100;
}

.section-title.highlighted {
  box-shadow: inset 0 -0.3em 0 0 theme('colors.indigo.300');
}
